<div class="list-main">
  <h2>ジェットコースター一覧</h2>
  <div class="coaster-park">
    <p>テーマパーク一覧</p>
    <a href="/list/fujikyu">富士急ハイランド</a>
    <a href="/list/nagashima">長島スパーランド</a>
    <a href="/list/domecity">東京ドームシティ</a>
  </div>
    <div class="coaster-list">
      <div class="coaster">
        <a href="/list/fujiyama"><img class="coaster-img" src="/fujiyama.jpg" ></a>
        <p class="text-contents">FUJIYAMA</p>
      </div>
      <div class="coaster">
        <a href="/list/eejanaika"><img class= "coaster-img" src="/eejanaika.jpg"></a>
        <p class="text-contents">ええじゃないか</p>
      </div>
    </div>
</div>
